<div class="cmsms_wrap_blog entry-summary" id="blog_5550576254ddf" data-meta="date,categories,author,comments,likes,more">
<script type="text/javascript">
														jQuery(document).ready(function () {
															(function ($) {
																if ($('#blog_5550576254ddf').find('article').length == '0') {
																	return false;
																}
																
															
																startBlog( 
																	'5550576254ddf', 
																	'timeline', 
																	'',
																	'date', 
																	'DESC', 
																	'12', 
																	'' 
																);
															})(jQuery);
														});
													</script>
													
<div class="blog timeline">

														{% if activities %}

    														{% for act in activities %}
    															
    															<article class="post format-standard hentry cmsms_timeline_type">
															<div class="cmsms_post_info entry-meta">
																<span class="cmsms_post_format_img cmsms-icon-desktop-3"></span>
																<abbr class="published cmsms_post_date" title="Dàte Activity"><span class="cmsms_day_mon">{{act.date.day}}.{{act.date.month}}</span><span class="cmsms_year">{{act.date.year}}</span></abbr>
															</div>
															<div class="cmsms_post_cont">
															{% if act.image != None %}
																<figure>
																	<a href="open-post.html" title="{{act.name}}" class="cmsms_img_link preloader">
																		<img width="580" height="390" src="{{act.image.url}}" class="full-width" alt="{{act.name}}" title="{{act.name}}" />
																	</a>
																</figure>
																{% endif %}
																<header class="cmsms_post_header entry-header">
																	<h3 class="cmsms_post_title entry-title cmsms_valid_title">
																		<a href="{{act.url}}">{{act.name}}</a>
																	</h3>
																</header>
																
																<div class="cmsms_post_content entry-content">
																	{{act.description}}
																</div>
																
																<div class="cl"></div>
															</div>
														</article>

    														{% endfor %}

														{% else %}
														    There are no activities published
														{% endif %}
														
														
													
														

													</div>

													<div class="cmsms_wrap_more_posts"></div>
												</div>